.add_food_page {
    padding: 10px;

    form {
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: 20px;

            .input_label {
                margin-right: 10px;
            }
        }

        .submit_new_food {
            max-width: 200px;
        }
    }
}